body {
    font-family: 'Open Sans', sans-serif;
}

#footer {
     background-size: 500px;
     text-align: center;
}

#footer .img-fluid {
    width: 70px;
    margin: 40px;
}

.item {
    margin-bottom: 60px;
}

